.page_title_wrapper {
  margin: auto;
  text-align: center;
}

.image {
  width: 230px;
  height: auto;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.movie_list_item {
  position: relative;
}

.vote {
  border: solid 1px rgb(255, 255, 255);
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 25px;
  text-align: center;
  position: absolute;
  z-index: 100;
}
