.Nav_Link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  /* padding: 15px; */
}
.active_Nav_Link {
  color: tomato;
}

.Nav_Item {
  font-size: 44px;
  font-weight: 500;
  margin: 10px 40px;
}
